<div class="container">
  <h1>CREATE A NEW ITINERARY</h1>

  <%= simple_form_for(@itinerary, url: itineraries_path, method: :post, html: { class: 'form-horizontal' }) do |form| %>
    <% if @itinerary.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h4><%= pluralize(@itinerary.errors.count, "error") %> prohibited this itinerary from being saved:</h4>
        <ul>
          <% @itinerary.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title, class: "control-label" %>
      <%= form.input_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :start_time, class: "control-label" %>
      <%= form.datetime_field :start_time, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :end_time, class: "control-label" %>
      <%= form.datetime_field :end_time, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description, class: "control-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <!-- Collection select for choosing the excursion -->
    <div class="form-group">
      <%= form.label "Excursions", class: "control-label" %>
      <div class="checkbox">
        <%= simple_fields_for :itinerary_excursions do |ie| %>
          <% Excursion.find_each do |excursion| %>
            <div class="form-check">
              <%= ie.check_box :excursion_ids, { multiple: true }, excursion.id, nil %>
              <%= ie.label excursion.title, class: "form-check-label" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= form.submit 'Submit', class: "btn btn-info" %>
    </div>
  <% end %>
</div>
