<div class="container my-4">
<h1><%= @itinerary.title %></h1>
<p><strong>From:</strong><%=  @itinerary.start_time%></p>
<p><strong>To:</strong><%=  @itinerary.end_time%></p>
<p><strong>Description:</strong> <%= @itinerary.description %></p>

<%= link_to 'Back', itineraries_path %>
<%= link_to 'Edit', edit_excursion_itinerary_path %>
<%= button_to "Delete this itinerary", @itinerary, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
