<div class="container my-4">
  <h1>Generate AI Suggested Excursions:</h1>

  <%= simple_form_for(@inspiration, url: inspirations_path) do |f| %>
    <%= f.input :city, label: "Destination or City", placeholder: "e.g., Paris, New York" %>
    <%= f.input :setting, collection: ['Family', 'Friends', 'Business', 'Romantic'],
                          label: "What is the setting?" %>

    <%= f.input :duration, placeholder: 'Enter the length' %>

    <%= f.input :budget, label: "Budget (in ZAR)",
                        placeholder: "Enter your budget" %>

    <%= f.input :interests, label: "Interests",
                              placeholder: "e.g., Hiking, Museums, Beach" %>

    <%= f.input :requirements, label: "Special Requirements or Preferences",
                                placeholder: "Any specific needs or preferences?"%>

    <%= f.submit %>
  <% end %>
</div>
