<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://www.xcursionrisk.com/uploads/1/0/4/5/10451400/xcursion-green-dot.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

  <div class="d-flex align-items-center">
          <li class="nav-item dropdown">
  <a class="nav-link btn btn-outline-success me-2 dropdown-toggle" href="#" id="navbarDropdownExcursions" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Excursions
  </a>
  <ul class="dropdown-menu dropdown-custom-color" aria-labelledby="navbarDropdownExcursions">
    <li><%= link_to "View All", excursions_path, class: "dropdown-item text-white" %></li>
    <li><%= link_to "Create New", new_excursion_path, class: "dropdown-item text-white" %></li>
    <li><%= link_to "Inspire Me",  new_inspiration_path, class: "dropdown-item text-white" %></li>
  </ul>


          <li class="nav-item dropdown">
  <a class="nav-link btn btn-outline-info me- dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    My itineraries
  </a>
  <ul class="dropdown-menu dropdown-custom-color" aria-labelledby="navbarDropdown">
    <li><%= link_to "View All", itineraries_path, class: "dropdown-item text-white" %></li>
    <li><%= link_to "Create New", new_itinerary_path, class: "dropdown-item text-white" %></li>
  </ul>
</li>

          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <%= link_to image_tag(current_user.image, width: 45, height: 45, class: "rounded-circle", alt: "User Photo"), '#', class: "nav-link btn btn-outline-info me-2 dropdown-toggle", id: "navbarDropdown", 'data-bs-toggle': "dropdown", 'aria-expanded': "false" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </div></ul>
    </div>
  </div>
</div>
