<div class="container my-4" data-controller="search-excursions">
  <h1>Suggested Things To Do:</h1>
  <%= form_with url: excursions_path, method: :get, html: {class: "mb-4", data: {search_excursions_target: "form"}} do |f|%>
    <%= f.text_field :query,
                      placeholder: 'Search for excursions...',
                      class: "form-control",
                      value: params[:query],
                      data: {search_excursions_target: "input",
                            action: "keyup->search-excursions#update"}
                      %>
    <%= f.submit 'Search', class: "btn btn-primary mt-2", data: { action: "submit->search-excursions#search" } %>
  <% end %>

  <script>
    const cloudinaryImageUrl = "<%= cl_image_path('your_image_key', { class: 'excursion-image', alt: 'Image of an Excursion', crop: :fill }) %>";
  </script>

  <%= javascript_include_tag 'controllers/search_excursions_controller' %>

  <div class="grid-container" data-search-excursions-target="list">

  <% if @excursions.present? %>
    <% @excursions.each do |excursion| %>
      <%= link_to excursion_path(excursion), class: "excursion-link" do %>
        <div class="excursion-card item">
          <h3 class="excursion-title card-title" style="height: 2.5rem; overflow: hidden;"><%= excursion[:title] %></h3>
          <div class="excursion-image">
            <% if excursion.image.present? %>
              <%= cl_image_tag excursion.image.key, class: "excursion-image", alt: "Image of an Excursion", crop: :fill %>
            <% else %>
              <%= image_tag "https://source.unsplash.com/800x600/?excursion,#{excursion.title.parameterize}", class: "excursion-image" %>
            <% end %>
          </div>
          <div class="excursion-info">
            <p><strong><%= excursion[:category] %></strong>,</p><p><%= excursion[:description] %></p>
             <p> <i><%= excursion[:city] %></i> </p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No excursions found.</p>
  <% end %>
</div>
</div>
