<div class="container my-4">
  <h1>Suggested Things To Do:</h1>
  <p>"Savor Every Moment, Forget Every Hassle: Choose Xcursion"</p>

  <div class="grid-container">
    <% @excursions.each do |excursion| %>
      <%= link_to excursion_path(excursion), class: "excursion-link" do %>
        <div class="excursion-card item">
          <h3 class="excursion-title"><%= excursion.title %></h3>
          <% if excursion.image.present? %>
            <%= cl_image_tag excursion.image.key, class: "excursion-image", alt: "Image of an Excursion", crop: :fill %>
          <% else %>
            <%= image_tag "https://www.xcursionrisk.com/uploads/1/0/4/5/10451400/xcursion-green-dot.png", class: "excursion-image" %>
          <% end %>
          <p><strong>City:</strong> <%= excursion.city %></p>
          <p><strong>Category:</strong> <%= excursion.category %></p>
          <p><strong>Description:</strong> <%= excursion.description %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
