<div class="container my-4">
<h1><%= @excursion.title %></h1>
<p><strong>Description:</strong> <%= @excursion.description %></p>
<p><strong>City:</strong><%=  @excursion.city %></p>

<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_excursion_path %>
<%= link_to "Delete this excursion", excursion_path(@excursion), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger"  %>
<%#= button_to "Delete this excursion", @excursion, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
